#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: middle;
}

.selected {
  background-color: #3a3a3a;
}
/* .file-tree-container {
  border-radius: 4px;
} */

/* .child-container {
  max-height: 200px;
  overflow: auto;
} */
